@charset "UTF-8";

body {
  font-family: Arial;
  color: black;
  
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x:scroll;
  padding-top: 0px;
  
}

.left {
  left: 0;
  background-color: #DADADA;
}

.right {
  right: 0;
  background-color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}


/*Table CSS*/

#plansTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#plansTable td, #plansTable th {
  border: 1px solid #ddd;
  padding: 4px;
}

#plansTable tr:nth-child(even){background-color: #f2f2f2;}

#plansTable tr:hover {background-color: #5bc0de;}

#plansTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #5bc0de;
  color: white;
  height: 59.5px;
}

